.h1 {
    font-family: 'Abril Fatface', cursive;
    background-color: darkcyan;
    color: #ffffff;
    float: left;
    padding: 20px;
    font-size: 20px;
}

.navbar {
    border-bottom: rgb(199, 199, 199) solid 3px;
}

.navbar-brand h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
}

body {
    background-image: url(../assets/images/positive.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

p {
    line-height: 1.1em;
}

.link {
    color: #4aaaa5;
}

.link:hover {
    color: #777777;
}

h2 {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: #cccccc solid 2px;
    color: darkcyan;
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.col-lg-3 h3 {
    text-align: center;
    float: left;
    font-size: 25px;
}

.nav-link {
    color: #777777!important;
}

/* ask about a better solution to change the navbar's bg color */
.bg-dark {
    background-color: #ffffff!important;
    padding: 0;
}

.navbar-dark .navbar-brand {
    background-color: darkcyan;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    float: left;
}

.navbar-toggler {
    background-color: #4aaaa5;
}

#main-cont {
    border: rgb(199, 199, 199) solid 3px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 30px 0 0 0;
    padding: 20px;
    height: auto;
    overflow: auto;
}

#toggle-bt {
    float: right;
    margin: 19px 0 0 0;
}

.profile-pic {
    float: left;
    margin: 0 20px 20px 0;
}

* {box-sizing: border-box;}

#img1 {
    margin-bottom: 15px;
    float: left;
}

.card {
    padding: 10px;
    margin: 15px;
    border: rgb(199, 199, 199) solid 3px;
}

.card-img-top {
    border: rgb(199, 199, 199) solid 3px;
}

a {
    color: #4aaaa5;
}